---
import Layout from "@/layouts/Layout.astro";

import H1 from "@/components/H1.astro";
import Link from "@/components/Link.astro";
import Section from "@/components/Section.astro";
---

<Layout title="Credits - Fajar Maftuh Fadli">
  <Section>
    <H1>Credits</H1>
    <p>
      A huge thanks to the open-source community for the tools and inspirations
      that helped build this site.
    </p>
    <ul class="list-inside list-disc space-y-2 marker:text-slate-600">
      <li>
        Design inspired by <Link
          ><a href="https://antfu.me" target="_blank" rel="noopener noreferrer"
            >Anthony Fu</a
          ></Link
        >.
      </li>
      <li>
        Icons by <Link
          ><a
            href="https://tabler.io/icons"
            target="_blank"
            rel="noopener noreferrer">Tabler Icons</a
          ></Link
        > and <Link
          ><a
            href="https://www.svgrepo.com/svg/364573/hand-waving-fill"
            target="_blank"
            rel="noopener noreferrer">Phosphor</a
          ></Link
        >.
      </li>
      <li>
        Background animation using <Link
          ><a
            href="https://github.com/bramus/css-houdini-ringparticles"
            target="_blank"
            rel="noopener noreferrer">CSS Houdini Ring Particles</a
          ></Link
        > by Bramus.
      </li>
      <li>
        Built with <Link
          ><a
            href="https://astro.build"
            target="_blank"
            rel="noopener noreferrer">Astro</a
          ></Link
        > and <Link
          ><a
            href="https://tailwindcss.com"
            target="_blank"
            rel="noopener noreferrer">Tailwind CSS</a
          ></Link
        >.
      </li>
    </ul>
  </Section>
</Layout>
