---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404">
  <div class="mx-auto max-w-2xl">
    <p>404</p>
    <p>
      The page <code id="path-display"></code> does not exist.
    </p>
    <script>
      const pathDisplay = document.getElementById("path-display");
      if (pathDisplay) {
        pathDisplay.textContent = window.location.pathname;
      }
    </script>
    <a href="/"> cd ..</a>
  </div>
</Layout>
