---
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
---

<Layout title="Fajar Maftuh Fadli">
  <Section>
    <h1 class="mb-8 text-4xl font-black text-slate-50">Fajar Maftuh Fadli</h1>
    <p>Hey! I'm Fajar Maftuh Fadli 👋</p>
    <p>a DevOps engineer who cares about clean, reliable infrastructure.</p>
    <p>
      I'm currently working at <a
        href="https://www.fisclouds.com"
        target="_blank"
        rel="noopener noreferrer">FISClouds</a
      >, where I help design and manage cloud systems—mostly on Google Cloud
      Platform. I spend a lot of time automating infrastructure with Terraform,
      setting up monitoring and alerting, and making sure everything runs
      smoothly and consistently.
    </p>
    <p>
      Most of what I do revolves around real production
      environments—provisioning GCP resources, handling IAM at scale, setup
      monitoring, alerting systems, and cost optimization. I like keeping things
      clean, observable, and easy to manage.
    </p>
    <p>
      Outside of that, I've been getting into frontend and web development,
      mainly in the JavaScript ecosystem. It's fun designing things—lining
      everything up just right, making them interactive, and building something
      that actually looks good, not just infrastructure hidden somewhere in the
      cloud.
    </p>
    <p>
      When I'm not working, I'm usually gaming, watching movies or series, or
      ricing my setup.
    </p>
    <p>You can find me here:</p>
    <ul class="flex gap-4">
      <li>
        <a
          href="https://github.com/froggologies"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center gap-2"
        >
          <img
            src="/icons/github.svg"
            alt="GitHub icon"
            class="h-5 w-5 invert"
          />
          GitHub
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/fajarmaftuhfadli"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center gap-2"
        >
          <img
            src="/icons/linkedin.svg"
            alt="LinkedIn icon"
            class="h-5 w-5 invert"
          />
          LinkedIn
        </a>
      </li>
      <li>
        <a
          href="https://steamcommunity.com/id/froggologies"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center gap-2"
        >
          <img src="/icons/steam.svg" alt="Steam icon" class="h-5 w-5 invert" />
          Steam
        </a>
      </li>
    </ul>
    <p class="flex items-center gap-2">
      Or mail me at <a
        href="mailto:fajarmaftuhfadli@gmail.com"
        class="flex items-center gap-2"
        ><img
          src="/icons/gmail.svg"
          alt="Gmail icon"
          class="h-5 w-5 invert"
        />fajarmaftuhfadli@gmail.com</a
      >
    </p>
  </Section>
</Layout>
