---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Fajar Maftuh Fadli">
	<div
		class="space-y-4 text-center h-screen flex items-center justify-center flex-col"
	>
		<h1 class="text-5xl">Fajar Maftuh Fadli</h1>
		<p class="font-semibold">
			DevOps Engineer · Cloud Architect · Infrastructure Automation
		</p>
		<p>
			I design, automate, and secure cloud infrastructure that scales —
			from startups to enterprise systems. Specializing in GCP, Terraform,
			monitoring, and reliability engineering.
		</p>
	</div>
	<div
		class="space-y-4 text-center h-screen flex items-center justify-center flex-col"
	>
		<h2 class="text-5xl">About Me</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit.
			Laudantium, quia repellendus. Esse hic tenetur nemo aut molestias
			aliquam blanditiis eveniet, eaque maiores maxime molestiae
			laudantium sed quam nam non. Nesciunt?
		</p>
	</div>
</Layout>
