---
import IconHeart from "@/components/icons/heart.astro";
---

<footer class="mx-auto mt-16 w-full max-w-2xl text-slate-600">
  <p>
    <span>
      © {new Date().getFullYear()} Fajar Maftuh Fadli
    </span>
    <span> · </span>
    <a
      href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
      target="_blank"
      rel="noopener noreferrer"
      class="underline decoration-slate-600/0 hover:decoration-slate-600 active:decoration-slate-600"
      >CC BY-NC-SA 4.0</a
    >
    <span> · </span>
    <span class="inline-flex flex-nowrap items-center gap-2">
      Built with <a
        aria-label="Love"
        href="/credits"
        class="hover:animate-pulse hover:text-red-400 active:animate-pulse active:text-red-400"
        ><IconHeart /></a
      >
    </span>
  </p>
</footer>
