---
import IconHeart from "@/components/icons/heart.astro";

import Spacer from "@/components/Spacer.astro";
---

<Spacer />
<footer class="mx-auto w-full max-w-2xl text-slate-600">
  <p>
    <a
      href="https://github.com/froggologies/fajarmaftuhfadli-v2/blob/main/LICENSE"
      target="_blank"
      rel="noopener noreferrer"
      class="underline decoration-slate-600/0 underline-offset-4 transition-colors duration-300 hover:decoration-slate-600 active:decoration-slate-600"
      >MIT License</a
    >
    <span>
      © {new Date().getFullYear()} Fajar Maftuh Fadli
    </span>
    <span> · </span>

    <span class="inline-flex flex-nowrap items-center gap-2">
      Built with <a
        aria-label="Credits"
        href="/credits"
        class="hover:animate-pulse hover:text-red-400 active:animate-pulse active:text-red-500"
        ><IconHeart /></a
      >
    </span>
  </p>
</footer>
