<nav class="flex h-20 items-center justify-between p-7">
  <div class="text-2xl font-bold">
    <a href="/"><span class="inline-block -scale-x-100 transform">F</span>MF</a>
  </div>
  <ul class="flex space-x-4 font-semibold">
    <li>
      <a href="/background">Background</a>
    </li>
    <li>
      <a href="/projects">Projects</a>
    </li>
    <li><a href="/skills">Skills</a></li>
  </ul>
</nav>
