---
import "@/styles/global.css";

import NavBar from "@/components/NavBar.astro";
import CSSHoudiniRingParticles from "@/components/CSSHoudiniRingParticles.astro";

const { title } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="scrollbar scroll-smooth bg-black leading-loose text-slate-400 scrollbar-thumb-gray-900/75 scrollbar-track-transparent selection:bg-slate-800 [&_a]:text-slate-50 [&_a]:transition-colors [&_a]:duration-300 [&_a]:hover:text-blue-400"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen">
    <NavBar />
    <main class="px-7">
      <slot />
    </main>
  </body>
</html>

<CSSHoudiniRingParticles />
